   body, html {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
      #pdf-container {
        width: 100%;
        height: calc(100vh - 96px); /* Resta header y footer */
        display: flex;
        flex-direction: column;
        position: relative;
      }
      
      #pdf-viewer-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: #f0f0f0;
      }
      
      #pdf-viewer {
        max-width: 100%;
        object-fit: contain;
      }
      
      #pdf-controls {
        width: 100%;
        padding: 0 6rem; /* Equivalente a px-24 */
        display: flex;
        gap: 10px;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      
      #pdf-pagination-controls {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
      }
      
      #pdf-pagination-controls button {
        width: 40px;
        height: 40px;
        background-color: rgba(59, 130, 246, 0.8);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .download-btn {
        padding: 8px 16px;
        background-color: rgba(239, 68, 68, 0.8);
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s;
        font-family: "Kalam", cursive;
      }
      
      .download-btn:hover {
        background-color: rgba(220, 38, 38, 0.9);
      }
      
      @media (max-width: 800px) {
        #pdf-viewer {
          width: 100vw;
          min-width: 600px;
        }
        
        #copy, #me {
          font-size: clamp(10px, 5vw, 20px);
        }
        
        #pdf-controls {
          padding: 0 1rem;
          flex-direction: column;
          align-items: center;
        }
        
        #pdf-pagination-controls {
          margin-bottom: 1rem;
        }
      }
